a#banner {
    margin-top: 0.5em;
    font-size: 3em;
    text-decoration: none;
    color: $body-color;

    &--small {
      @extend #banner;
      font-size: 2em;
    }
}

.color-primary {
  color: $primary;
}

a.svg-contact {
    svg {
      width: 1.5em;
      height: 1.5em;
    }

    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    fill: #393e46;
    padding: 0.3em;
}

a.svg-contact:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}

a.svg-contact:hover {
    fill: $primary;
}
