{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <a id="banner--small" href="/">
                <h2 id="logo">2easy<span class="color-primary">.tech</span></h1>
            </a>
            <h1>{{ .Title }}</h1>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}
