<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- RSS feed -->
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <!-- Customized Bootstrap bundle -->
    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" false ) }}
    {{ $style := resources.Get "scss/main.scss" | toCSS $options | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" >
</head>
