<div class="container mt-5 text-center">
    <div class="row w-100 no-gutters">
        <div class=col>
            <h2>{{ .Title }}</h2>
        </div>
    </div>
    <div class="row w-100 no-gutters">
        <div class="col-md-12 col-lg-4 offset-lg-4">
            <p class="text-muted small">I write very rarely, so it's the best way to keep in touch. No ads, no bullshit.</p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <form action="https://tech.us10.list-manage.com/subscribe/post?u=0463da419ca7ea6f6741978b0&amp;id=8904f8f352" method="post" id="mc-embedded-subscribe-form" name="MailSubscribeForm" target="_blank" novalidate>
        <div class="row w-100 no-gutters">
            <div class="col-md-12 col-lg-8">
                <label class="sr-only" for="mce-Email">Email address</label>
                <input type="email" value="" name="EMAIL" class="form-control mb-2 mr-sm-2 text-center" id="mce-EMAIL" placeholder="Your email address" required>
                <!-- Mailchimp additional fields -->
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0463da419ca7ea6f6741978b0_8904f8f352" tabindex="-1" value=""></div>
                <!-- End additional fields -->
            </div>
            <div class="col-md-12 col-lg-2 ml-1">
                <div class="text-center w-100">
                <button type="submit" id="mc-embedded-subscribe" class="btn btn-primary mb-2">Subscribe</button>
                </div>
            </div>
        </div>
    </form>
</div>
